body {
    background: linear-gradient(to right, #858585, #ffffff);
    font-family: calibri;
    .centered-title {
        padding-left: 5%;
        padding-right: 5%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0px auto;
        #monto {
            display: flex;
            width: fit-content;
            align-items: center;
        }
        #reset {
            border-radius: 10px;
            height: 30px;
            font-size: 1em;
            border-style: none;
            background-color: lightblue;
        }
        #reset:hover {
            transform: scale(1.2);
        }
        #reset:active {
            transform: scale(1.1);
        }
    }
    .main {
        display: flex;
        #grid-container {
            width: 70vw;
            height: 100%;
            float: left;
            padding-left: 15px;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            .grid-item:hover {
                transform: scale(1.05);
                transition: transform 0.2s;
            }
            .grid-item:active {
                transform: scale(1.01);
            }
            .grid-item {
                padding: 10px;
                display: flex;
                flex-direction: column;
                .subtitulo {
                    height: 25px;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    font-size: 0.9em;
                }
                b {
                    font-size: 11px;
                }
                p {
                    font-weight: lighter;
                    font-size: 1.1em;
                }
            }
        }
        .image-container {
            width: 30vw;
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;
        }
    }
}
